body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/inicio.jpg"); }

.navbar {
  margin-bottom: 0;
  border-radius: 0; }

.main-page img {
  margin-right: auto;
  margin-left: auto;
  display: block;
  height: 60vh; }

.schedule-container {
  margin: 10px 0 0 0;
  padding: 0 20px 0 20px; }

.schedule-box {
  box-shadow: 3px 3px 1px #404040;
  font-size: 1.45em;
  text-align: center;
  padding: 5px 0 5px 0; }
  .schedule-box.left {
    background-color: #9b1f17;
    color: white; }
  .schedule-box.right {
    background-color: black;
    color: #9b1f17; }

.page-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: black;
  padding: 10px 20px; }
  .page-footer .texto-follow-me {
    margin: 10px 0 0 0;
    padding: 0;
    color: grey; }
  .page-footer .col-xs-6:first-child::after {
    content: "";
    border-right: 2px #333 solid;
    position: absolute;
    right: 0;
    top: 5px;
    bottom: 5px; }
  .page-footer .social-link {
    color: #333;
    margin: 20px 0 0 20px;
    display: inline-block; }
  .page-footer .fa {
    font-size: 2.5em;
    display: inline-block;
    cursor: pointer; }
  .page-footer .fa-facebook-official:hover {
    color: blue; }
  .page-footer .fa-instagram:hover {
    color: purple; }
