@import "_variables";

html {
    position:relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../images/inicio.jpg');
    background-attachment: fixed;
    display:flex;
    flex-direction:column;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.page-content {
    padding-top: $navbar-height;
    width: 100%;
    flex: 1;
    padding-bottom: 10px;
}

.logo-row-main-page {
    img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        height: 60vh;
    }
}


.slideable {
    margin-top: 10px;
}

.schedule-box {
  box-shadow: 3px 3px 1px #404040;
  font-size: 1.45em;
  text-align: center;
  padding: 5px 0 5px 0;

  @media(min-width:767px){
    width:260px;
  }

  &.left {
    background-color: $primary-red;
    color: white;
    @media(min-width:767px){
      float: right;
    }
  }

  &.right {
    background-color: black;
    color: $primary-red;
    &:hover{
        color: red;
        cursor: pointer;
    }

    @media(min-width:767px){
      float: left;
    }
  }
}

.schedule-list{
    background-color: rgba(256,256,256, 0.3);
    list-style-type: none;

    .day {
        font-size: bold;
    }

    & .hours,& .day {
        text-align: center;
    }
}

.page-footer {

    height:70px;

    background-color: black;

    padding: 10px 20px;

    .texto-follow-me{
        padding: 0;
        margin: 0;
        text-align: center;
        color: grey;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 50px;
    }

    .col-xs-6:first-child::after{
        content: "";
        border-right: 2px #333 solid;
        position: absolute;
        right: 0;
        top: 5px;
        bottom: 5px;
    }


    .social-links {
        text-align: center;
        padding:7px;
        & a {
            color: #333;
        }

        & a:first-child{
            margin-right: 20px;
        }
    }

    .fa {
        font-size: 2.5em;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
    }

    .fa-facebook-official:hover {
        color: #3B5998;
    }

    .fa-instagram:hover {
        color: purple;
    }
}

// Gallery classes

.modal-box{
    position:fixed;
    z-index: 1000;
    width : 100%;
    height : 100%;
    color: white;
    background-color: black;
    margin-left: -15px;

    img {
        position: absolute;
        left:50%;
        top: 55px;
        max-height: 80vh;
        max-width:80vw;
        transform: translate(-50%, 0);
    }

    .close-modal-box {
        position: absolute;
        top: 15px;
        right: 25px;
        font-size: 2em;

        .fa {
            color: grey;
        }
    }
}


.gallery-row.row {
    margin:0;
}


.photo-card-holder{
    padding: 5px ;
    height: 30vh;
    overflow: hidden;
    position: relative;

    img{
        position: absolute;
        top:50%;
        transform: translate(0, -50%);
        width: 100%;
    }
}

// Headers

// For h2 header
.title {
    font-family: quartzo;
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-align: center;

    &.title-contacto {
        font-size: 2em;

        @media (min-width: 992px){
            font-size: 3em;
        }
    }

}

.underlined {
    text-decoration: underline;
}

.title:before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 12%;
    right: 12%;
    top: -5px;
    bottom: 0px;
    border-bottom: #9b1f17 3px solid;
    border-top: #9b1f17 3px solid;
}

.contacto-info-box {
    background-color: rgba(255,255,255, 0.5);
    border-radius: 15px;

    padding: 20px;

    font-size: 1.2em;

    text-align: justify;
}

.angular-google-map-container {
    height: 400px;
    margin-top: 15px;
}