$primary-red: #9b1f17;
$navbar-height: 50px;

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/inicio.jpg');
    background-attachment: fixed;
    min-height: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.page-content {
    min-height:100%;
    // The height of the nav and the footer respectively
    // This trick allow the sticky footer
    margin-top: -50px;
    margin-bottom: -70px;
}

.logo-row-main-page {
    margin-top:50px; // For keeping the page content below the nav-bar
    img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        height: 60vh;
    }
}

.content-with-top-margin{
    margin-top: $navbar-height;
}


.galery-row.row {
    margin:0;
}

.photo-card-holder{
    padding: 5px ;
    height: 150px;
    overflow: hidden;
    position: relative;

    img{
        position: absolute;
        width: 100%;
    }
}

.slideable {
    margin-bottom: 70px;
}

.schedule-box {
  box-shadow: 3px 3px 1px #404040;
  font-size: 1.45em;
  text-align: center;
  padding: 5px 0 5px 0;

  @media(min-width:767px){
    width:260px;
  }

  &.left {
    background-color: $primary-red;
    color: white;
    @media(min-width:767px){
      float: right;
    }
  }

  &.right {
    background-color: black;
    color: $primary-red;
    &:hover{
        color: red;
        cursor: pointer;
    }

    @media(min-width:767px){
      float: left;
    }
  }
}
.schedule-list-row{
    margin: 15px 2px 0 2px;
}

.schedule-list{
    background-color: rgba(256,256,256, 0.3);
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;

    .day {
        font-size: bold;
    }

    & .hours,& .day {
        text-align: center;
    }
}

.page-footer {

    clear: both;

    &.row {
        margin: 20px 0 0 0;
    }
    width: 100%;
    height:70px;

    background-color: black;

    padding: 10px 20px;

    .texto-follow-me{
        padding: 0;
        margin: 0;
        text-align: center;
        color: grey;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 50px;
    }

    .col-xs-6:first-child::after{
        content: "";
        border-right: 2px #333 solid;
        position: absolute;
        right: 0;
        top: 5px;
        bottom: 5px;
    }


    .social-links {
        text-align: center;
        padding:7px;
        & a {
            color: #333;
        }

        & a:first-child{
            margin-right: 20px;
        }
    }

    .fa {
        font-size: 2.5em;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
    }

    .fa-facebook-official:hover {
        color: #3B5998;
    }

    .fa-instagram:hover {
        color: purple;
    }
}

