$primary-red: #9b1f17;

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/inicio.jpg');
    background-attachment: fixed;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}


.main-page {

    img {
        margin-right: auto;
        margin-left: auto;
        display: block;
        height: 60vh;
    }
}

.schedule-box {
  box-shadow: 3px 3px 1px #404040;
  font-size: 1.45em;
  text-align: center;
  padding: 5px 0 5px 0;

  @media(min-width:767px){
    width:260px;
  }

  &.left {
    background-color: $primary-red;
    color: white;
    @media(min-width:767px){
      float: right;
    }
  }

  &.right {
    background-color: black;
    color: $primary-red;
    &:hover{
        color: red;
        cursor: pointer;
    }

    @media(min-width:767px){
      float: left;
    }
  }
}
.schedule-list-row{
    margin-top: 15px;
}

.schedule-list{
    background-color: rgba(256,256,256, 0.3);
    margin-right: auto;
    margin-left: auto;
    list-style-type: none;
}

.page-footer {
    &.row {
        margin: 0;
    }
    width: 100%;
    height:70px;

    background-color: black;

    padding: 10px 20px;

    .texto-follow-me{
        padding: 0;
        text-align: center;
        color: grey;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 50px;
    }

    .col-xs-6:first-child::after{
        content: "";
        border-right: 2px #333 solid;
        position: absolute;
        right: 0;
        top: 1px;
        bottom: 9px;
    }


    .social-links {
        text-align: center;
        line-height: 65px;
        & a {
            color: #333;
            display: inline-block;
        }

        & a:first-child{
            margin-right: 20px;
        }
    }

    .fa {
        font-size: 2.5em;
        display: inline-block;
        cursor: pointer;
        font-weight: bold;
    }

    .fa-facebook-official:hover {
        color: blue;
    }

    .fa-instagram:hover {
        color: purple;
    }
}

