<div class="row main-page">
    <div class="col-xs-12">
         <img src="images/logo.png" alt="">
    </div>
</div>
<div class="schedule-container row">
    <div class="col-xs-6">
       <div class="schedule-box left">Abierto</div>
    </div>
    <div class="col-xs-6">
        <div class="schedule-box right" ng-click="toogleSchedule()">Ver horarios</div>
    </div>
</div>
<div class="row schedule-list-row" ng-show="schedule.show">
    <ul class="schedule-list col-xs-12">
        <li ng-repeat="day in schedule.list">
            <div class="row">
                <span class="col-xs-6 day">{{ day.dayName }}</span>
                <span class="col-xs-6 hours">{{ day.hours }}</span>
            </div>
        </li>
    </ul>
</div>
